<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.1" targetFramework="net461" />
  <package id="NReco.PdfGenerator" version="1.1.15" targetFramework="net461" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc-GDI" version="1.32.4334.0" targetFramework="net461" />
  <package id="Select.HtmlToPdf" version="18.1.0" targetFramework="net461" />
</packages>